- name = "Eutelo de Maniz"
- hp = 21
- levels = { cleric: 3 }
- hd = { cleric: 'd8' }
- ability_scores = {str: 10, dex: 16, con: 13, int: 8, wis: 16, cha: 12}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (900 / 2700 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Dex, Wis, Cha
      .skill History, Insight, Persuasion, Religion, Stealth
      .tool Gaming set (cards)
      .language Common, Halfling, Giant
      .weapon simple
      .armor light, medium, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half
        .head.b Melee Equipment
        .small Dagger, shield, studded leather
        .ac
          .head.b AC
          .value 17
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d4 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 5
        %ul.small
          %li Can throw dagger, range 20/60
      -#equip
      .equipment-set.half
        .head.b Ranged Equipment
        .small Light crossbow, studded leather
        .ac
          .head.b AC
          .value 15
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d8 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 80 / 320
        %ul.small
          %li Disadvantage if enemy within 5 ft.
      -#channel-divinity
      .feature
        .head
          %span.b Channel Divinity
          .uses.short-rest
            - 1.times do |i|
              .checkbox
        .small
          %span.title
            Turn Undead
            &#x2726;
            %span.b Action
        %p.small
          Requires holy symbol and verbal prayer. Each visible undead  in 30 ft. is turned for 1 minute or until it takes damage (Wis save negates).
        %p.small
          A turned creature can’t take reactions and can only Dash or try to escape from an effect that prevents it from moving. It must try to move as far away as possible and can’t willingly move within 30 ft. If it has nowhere to go, it may Dodge.
        .small
          %span.title
            Invoke Duplicity
            &#x2726;
            %span.b Action
        %p.small
          Create a perfect illusion of yourself that lasts for 1 minute, in an unoccupied space you can see within 30 ft. As a bonus action, you can move the illusion up to 30 ft. to a space you can see, but it must remain with 120 ft. of you.
        %p.small
          You can cast spells as if you were in the illusion’s space, but you must use your own senses. When both you and your illusion are within 5 ft. of a creature that can see the illusion, you have advantage on attack rolls against that creature.



    .flex.tall.column.narrow{style: 'margin-top:-3rem;'}
      -#cleric-spellcasting
      .spellcasting
        .head.b Cleric Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Wis
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:wis] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:wis]
      .flex
        .list.half
          .head.b Cantrips
          .small Guidance
          .small Resistance
          .small Spare the Dying
        .slots.resource.half
          .head.b Spell Slots
          .label
            1
            %sup> st
          .uses
            - 4.times do |i|
              .checkbox
          .label
            2
            %sup> nd
          .uses
            - 2.times do |i|
              .checkbox
      .scratch
        .title.b Concentration
        %div
      .feature
        .head.b Preparation
        %p.small
          You always have
          %span.spell charm person,
          %span.spell disguise self,
          %span.spell mirror image,
          and
          %span.spell pass without trace
          prepared. After a long rest, you can prepare any #{levels[:cleric] + mods[:wis]} spells from the cleric spell list.
      .feature
        .head.b Ritual Casting
        %p.small
          You can cast a prepared cleric spell with the ritual tag as a ritual.
      .feature
        .head.b Blessing of the Trickster
        %p.small
          %span.b Action.
          Touch a willing creature other than yourself. The target has advantage on Dexterity (Stealth) checks for 1 hour or until you use this power again.

  .new-page

  .inventory.grid
    .head.b Inventory
    .item Fine clothes
    .item Holy Amulet
    .item Whetstone
    .item Dagger
    .item Backpack
    .item Bedroll
    .item Sack
    .item Shield
    .item Scroll of pedigree
    .item Waterskin
    .item Wax
    .item Light crossbow
    .item Bolts (19)
    .item
    .item Fine illustration of disturbing scene
    .item Tinderbox
    .item Candles (10)
    .item Studded leather armor
    .item
    .item
    .item Signet ring
    .item Torch (10)
    .item
    .item
    .item
    .item
    .item Backpack
    .item 20 ft. rope
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 98
      .value.sp 4
      .value.cp 5
