- name = "Mildro Marshmelon"
- levels = { fighter: 4 }
- hd = { fighter: 'd10' }
- ability_scores = {str: 13, dex: 18, con: 16, int: 8, wis: 12, cha: 8}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 10 * levels[:fighter] + mods[:con] * levels[:fighter]
- superiority_die = 8
- superiority_dice = 4 + (levels[:fighter] + 1) / 8
- xp = 2700
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Stout Halfling
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level[levels.values.sum]} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Str, Con
      .skill Acrobatics, Athletics, Perception, Survival
      .tool Land vehicles, cook's utensils
      .language Common, Halfling
      .weapon simple, martial
      .armor all armor, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Standard Equipment
          .small
            .magic rapier +1,
            shield, studded leather
          .ac
            .head.b AC
            .value=12 + 2 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{1 + mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{2 + 1 + mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Reach
            .value 5
      -#equip
      .half
        .equipment-set.block
          .head.b Ranged Equipment
          .small light crossbow, studded leather
          .ac
            .head.b AC
            .value=12 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 80 / 320

      .half
        -#lucky
        .feature.block
          .head.b Lucky
          %p.small Reroll 1s on attack rolls, ability checks, and saving throws.
        -#brave
        .feature.block
          .head.b Brave
          %p.small
            You have advantage on saving throws against being frightened.
        -#halfling-nimbleness
        .feature.block
          .head.b Halfling Nimbleness
          %p.small
            You can move through the space of creatures larger than you.
      .half
        -#fighting-style
        .feature.block
          .head.b Fighting Style: Dueling
          %p.small
            While wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.
        -#stout-resilience
        .feature.block
          .head.b Stout Resilience
          %p.small
            Advantage on saving throws against poison, and resistance to poison damage.
      -#second-wind
      .feature.block
        .head
          %span.b Second Wind
          .uses.short-rest
            .checkbox
        %p.small
          %span.b Bonus Action.
          Regain 1d10 + #{levels[:fighter]} hit points.
      -#action-surge
      .feature.block
        .head
          %span.b Action Surge
          .uses.short-rest
            .checkbox
        %p.small
          Take an additional action this turn.
      -#secod-chance
      .feature
        .head
          %span.b Second Chance
          .uses
            - 1.times do |i|
              .checkbox
        %p.small
          %span.b Reaction.
          When a creature you can see hits you with an attack roll, you can use your reaction to force that creature to reroll. Once you use this ability, you can't use it again until you roll initiative at the start of combat or until you finish a short or long rest.



    .flex.tall.column.narrow
      -#combat-superiority
      .combat-superiority.block
        .head.b Combat Superiority (d#{superiority_die})
        .stat.b
          Saving Throw DC:
          .value=8 + prof + [mods[:str], mods[:dex]].max
      .small.block
        You have a pool of #{superiority_dice}d#{superiority_die} combat superiority dice, which regenerates after a short or long rest. You can spend these on the combat maneuvers below.
      .small.block
        %span.title Distracting Strike
        %p
          When you hit with a weapon attack, add a superiority die to the damage roll, and the next attack roll agains the target by an attacker other than you has advantage if it's made before the start of your next turn.
      .small.block
        %span.title Maneuvering Attack
        %p
          When you hit with a weapon attack, add a superiority die to the damage roll, and choose a friendly creature that can see or hear you. It can use its reaction to move up to half its speed without provoking opportunity attacks from your target.
      .small.block
        %span.title Riposte
        %p
          When a creature misses you with a melee attack, use your reaction and expend a superiority die to make a melee weapon attack against the crature. If you hit, add the superiority die to the damage roll.


  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item.magic Rapier +1
    .item Backpack
    .item Light crossbow
    .item Crossbow bolt (20)
    .item Shield
    .item Bedroll
    .item Traveler's clothes
    .item Hemp rope (50 ft.)
    .item Studded leather
    .item Waterskin
    .item Rations (10)
    .item Shovel
    .item Tinderbox
    .item.magic potion of healing
    .item Lantern, hooded
    .item Oil (5)
    .item Grappling hook
    .item Bag of caltrops (3)
    .item Healer's kit
    .item.magic potion of healing
    .item Iron pot
    .item Mess kit
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp
      .value.sp=1
      .value.cp
