- name = "Bolofravl Breakwall"
- levels = { bard: 1 }
- hd = { bard: 'd8' }
- ability_scores = {str: 14, dex: 12, con: 16, int: 12, wis: 8, cha: 14}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.inject(&:sum) - 1) / 4 + 2)
- hp = 8 + (levels[:bard] - 1) * 5 + mods[:con] * levels.values.inject(&:sum)
- xp = 0
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Duergar
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level.find{|t| t > xp}} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Dex, Cha
      .skill Acrobatics, Deception, Intimidation, Performance, Stealth
      .tool Disguise kit, mason's tools, thieves' tools, musical instrument (drum, dulcimer, horn)
      .language Common, Dwarvish, Undercommon
      .weapon simple weapons, hand crossbow, longsword, rapier, shortsword, battleaxe, handaxe, light hammer, warhammer
      .armor light
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Ranged Equipment
          .small Javelin, leather armor
          .ac
            .head.b AC
            .value=11 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:str]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 30/120

        -#duergar-resilience
        .feature.block
          .head.b Duergar Resilience
          %p.small
            Advantage on saving throws against illusions and against being charmed or paralyzed.

        -#stonecunning
        .feature.block
          .head.b Stonecunning
          %p.small
            Add double your proficiency bonus to Intelligence (History) checks related to the origin of stonework.


      .half
        -#equip
        .equipment-set.block
          .head.b Melee Equipment
          .small Warhammer, leather armor
          .ac
            .head.b AC
            .value=11 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d10 + #{mods[:str]}
              %span.small bludgeoning
          .attack.range
            .b.bg Reach
            .value 5

        -#dwarven-resilience
        .feature.block
          .head.b Dwarven Resilience
          %p.small
            Resistance to poison damage, and advantage on saving throws against poison.

        -#darkvision
        .feature.block
          .head.b Superior Darkvision
          %p.small
            Can see in dim light as though it were normal light, and darkness as though it were dim light, up to 120 ft. away.

      -#bardic-inspiration
      .feature.block
        .head
          %span.b Bardic Inspiration (d6)
          .uses.long-rest
            - [mods[:cha], 1].max.times do |i|
              .checkbox
        %p.small
          %span.b Bonus Action.
          Choose one creature other than yourself within 60 feet of you who can hear you. That creature gains one Bardic Inspiration die.
        %p.small
          Once within the next 10 minutes, the creature can roll the die and add the number rolled to one ability check, attack roll, or saving throw it makes. The creature can wait until after it rolls the d20 before deciding whether to use the Bardic Inspiration. Once the Bardic Inspiration die is rolled, it is lost. A creature can have only one Bardic Inspiration die at a time.


    .flex.tall.column.narrow
      -#wizard-spellcasting
      .spellcasting.block
        .head.b Bard Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 2.times do |i|
              .checkbox
        .slots.resource.half
      .scratch.block
        .title.b Concentration
        %div
      .feature.block
        .head.b Ritual Casting
        %p.small
          You can cast a bard spell you know as a ritual.
      -#sunlight-sensitivity
      .feature.block
        .head.b Sunlight Sensitivity
        %p.small
          Disadvantage on attack rolls and Wisdom (Perception) checks that rely on sight when you, the target of your attack, or whatever you are trying to perceive is in direct sunlight.



  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Warhammer
    .item Leather armor
    .item Dagger
    .item Javelin (4)
    .item Component pouch
    .item Drum
    .item Thieves' tools
    .item Rations (4)
    .item Backpack
    .item Bedroll
    .item Waterskin
    .item Caltrops
    .item
    .item
    .item Traveler's clothes
    .item Paper (6 sheets)
    .item Ink (1 oz.)
    .item Ink pen (2)
    .item
    .item
    .item Hemp rope (50 ft.)
    .item Sack (4)
    .item Mirror (steel)
    .item Pouch
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 14
      .value.sp
      .value.cp

  .spell-list.flex
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Message
        .level cantrip
        .keywords.b
      .spell
        .title Vicious Mockery
        .level cantrip
        .keywords.b
      .spell
        .title Dissonant Whispers
        .level 1<sup>st</sup>
        .keywords.b
      .spell
        .title Faerie Fire
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .title Tasha's Hideous Laughter
        .level 1<sup>st</sup>
        .keywords.b conc.


    .other-spells.column
      .head.b Bonus Actions
      .spell
        .title Healing Word
        .level 1<sup>st</sup>
        .keywords.b

  .flex

    .half.flex.tall
      .feature.block
        .head.b Personality Trait
        %p.small
          Nobody stays angry at me or around me for long, since I can defuse any amount of tension.
        .head.b Personality Trait
        %p.small
          I love a good insult, even one directed at me.
      .feature.block
        .head.b Ideal: People
        %p.small
          I like seeing the smiles on people's faces when I perform. That's all that matters.
      .feature.block
        .head.b Bond
        %p.small
          I want to be famous, whatever it takes.
      .feature.block
        .head.b Flaw
        %p.small
          I once satirized a noble who still wants my head. It was a mistake that I will likely repeat.

    .half.flex.tall
      .feature.block
        .head.b Background: Entertainer
        %p.small
          You thrive in front of an audience. You know how to entrance them, entertain them, and even inspire them. Your art is your life. Unfortunately, in duergar society there is not much appreciation for the comedic.
        %p.small
          %span.title Routine:
          Jester
      .feature.block
        .head.b By Popular Demand
        %p.small
          You can always find a place to perform, usually in an inn or tavern but possibly with a circus, at a theater, or even in a noble's court. At such a place, you receive free lodging and food of a modest or comfortable standard (depending on the quality of the establishment), as long as you perform each night. In addition, your performance makes you something of a local figure. When strangers encounter you in a town where you have performed, they typically take a liking to you.
