- name = "Modal"
- levels = { paladin: 2 }
- hd = { paladin: 'd10' }
- ability_scores = {str: 15, dex: 8, con: 16, int: 8, wis: 10, cha: 16}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 10 + (levels[:paladin] - 1) * 6 + mods[:con] * levels[:paladin]
- xp = 300
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Scourge Aasimar
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level[levels.values.sum]} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Wis, Cha
      .skill Athletics, Insight, Persuasion, Religion
      .tool
      .language Common, Celestial, Infernal, Abyssal
      .weapon simple, martial
      .armor all armor, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Standard Equipment
          .small Flail, shield, chainmail
          .ac
            .head.b AC
            .value=16 + 2 + 1
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{mods[:str]}
              %span.small bludgeoning
          .attack.range
            .b.bg Range
            .value 5

        -#darkvision
        .feature.block
          .head.b Darkvision
          %p.small
            You can see in dim light as though it were normal light, and darkness as though it were dim light, up to 60 ft. away.



      .half
        -#equip
        .equipment-set.block
          .head.b Ranged Equipment
          .small Javelin, shield, chainmail
          .ac
            .head.b AC
            .value=16 + 2 + 1
          .move
            .head.b Move
            .value 30
          .head.b Ranged Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:str]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 30/120

        -#celestial-radiance
        .feature.block
          .head.b Celestial Radiance
          %p.small
            You have resistance to radiant and necrotic damage.

        -#fighting-style
        .feature.block
          .head.b Fighting Style: Defense
          %p.small
            +1 AC while wearing armor.

      -#healing-hands
      .feature.block
        .head
          %span.b Healing Hands
          .uses.long-rest
            .checkbox
        %p.small
          %span.b Action.
          Touch a creature to heal it for #{levels.values.sum} hp.

      -#divine-sense
      .feature.block
        .head
          %span.b Divine Sense
          .uses.long-rest
            - (1 + mods[:cha]).times do |i|
              .checkbox
        %p.small
          %span.b Action.
          Until the end of your next turn, you know the locatoin of any celestial, fiend, or undead creature within 60 ft. that is not behind total cover. You also detect any place or object that has been consecrated or desecrated.

    .flex.tall.column.narrow
      -#paladin-spellcasting
      .spellcasting.block
        .head.b Paladin Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 2.times do |i|
              .checkbox

        .slots.resource.half
      .scratch.concentration.block
        .title.b Concentration
        %div
      .feature.block
        .head.b Preparation
        %p.small
          After a long rest, you can prepare any #{(levels[:paladin] / 2) + mods[:cha]} spells from the paladin spell list.
      -#divine-smite
      .feature.block
        .head.b Divine Smite
        %p.small
          When you hit a creature with a melee attack, you can expend one spell slot for an extra 2d8 radiant damage, or 3d8 vs. undead and fiends.
      -#lay-on-hands
      .feature.block
        .head.b Lay on Hands
        .points
          .scratch
            .title
              HP Pool:
              %span.b=levels[:paladin] * 5
            %div
          %p.small
            %span.b Action.
            You touch a creature and draw power from a pool of hit points to heal the creature. Your pool replenishes after a long rest.
          %p.small
            Alternatively, you can cure diseases and neutralize poisons affecting the target by expending 5 hit points per disease or poison.

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Flail
    .item Javelin (5)
    .item Backpack
    .item Bedroll
    .item Chainmail
    .item Mess kit
    .item Tinderbox
    .item Rations (10)
    .item Shield (holy emblem)
    .item Torch (10)
    .item Hemp rope (50 ft.)
    .item Waterskin
    .item
    .item
    .item Insignia of rank
    .item Piece of enemy banner
    .item Deck of cards
    .item Common clothes
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 10
      .value.sp
      .value.cp

  .spell-list.flex
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .prepared
          .checkbox.checked
        .title Light
        .level cantrip
        .keywords.b
      .spell
        .prepared
          .checkbox
        .title Bless
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Command
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Cure Wounds
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Detect Evil and Good
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Detect Magic
        .level 1<sup>st</sup>
        .keywords.b conc., ritual
      .spell
        .prepared
          .checkbox
        .title Detect Poison and Disease
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Heroism
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Protection from Evil and Good
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Purify Food and Drink
        .level 1<sup>st</sup>
        .keywords.b ritual
    .other-spells.column
      .head.b Bonus Actions
      .spell
        .prepared
          .checkbox
        .title Compelled Duel
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Divine Favor
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Searing Smite
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Shield of Faith
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Thunderous Smite
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Wrathful Smite
        .level 1<sup>st</sup>
        .keywords.b conc.
      .head.b Non-Combat Spells
      .spell
        .prepared
          .checkbox
        .title Ceremony
        .level 1<sup>st</sup>
        .keywords.b ritual

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Soldier
        %p.small
          War has been your life for as long as you care to remember. You trained as a youth, studied the use of weapons and armor, learned basic survival techniques, including how to stay alive on the battlefield. You were a healer in a standing national army, keeping other soldiers alive and easing the suffering of those you couldn't.
        %p.small
          %span.b Speciality:
          Healer
      .feature.block
        .head.b Personality Trait
        %p.small
          I'm haunted by memories of war. I can't get the images of violence out of my mind.

    .column.narrow.personality
      .feature.block
        .head.b Ideal: Greater Good
        %p.small
          Our lot is to lay down our lives in the defense of others.
      .feature.block
        .head.b Bond
        %p.small
          I would still lay down my life for the people I served with.
      .feature.block
        .head.b Flaw
        %p.small
          I obey my oath, even when it causes misery.
