- name = "Iris"
- levels = { rogue: 4 }
- hd = { rogue: 'd8' }
- ability_scores = {str: 10, dex: 18, con: 14, int: 14, wis: 10, cha: 10}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:rogue] - 1) * 5 + mods[:con] * levels[:rogue]
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (2,962 / 6,500 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Dex, Int
      .skill Acrobatics, Arcana, History, Investigation, Sleight of Hand, Stealth, Perception
      .tool Thieves' Tools
      .language Common, Thieves' Cant, Draconic, Primordial
      .weapon all simple, longsword, hand crossbow, rapier, shortsword
      .armor light
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.half.block
          .head.b Standard Equipment
          .small
            Rapier,
            leather armor
          .ac
            .head.b AC
            .value=11 + mods[:dex]
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 5

      .half
        -#cunning-action
        .feature.block
          .head.b Cunning Action
          %p.small
            You can Dash, Disengage, or Hide as a bonus action.

        -#expertise
        .feature.block
          .head.b Expertise
          %p.small
            Double proficiency bonus on skills checks using your
            %span.b Investigation
            or
            %span.b thieves' tools
            proficiencies.

        -#sneak-attack
        .feature.block
          .head.b Sneak Attack +2d6
          %p.small
            Once per turn, deal bonus damage on an attack with a finesse or ranged weapon. Requires advantage, or another enemy of the target within 5 ft. of it and no disadvantage.

      -#sneak-attack
      .feature.block
        .head
          %span.b Magic Initiate
          .uses.long-rest
            - 1.times do |i|
              .checkbox
        %p.small
          You know two cantrips,
          %span.spell green-flame blade
          and
          %span.spell control flames,
          and one 1st-level spell,
          %span.spell shield,
          from the wizard spell list. You can cast the cantrips at-will, but once you cast
          %span.spell shield
          you must complete a long rest before you can cast it again. Intelligence is your spellcasting ability for these spells.

    .flex.tall.column.narrow
      -#arcane-trickster-spellcasting
      .spellcasting.block
        .head.b Arcane Trickster Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Int
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:int] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:int]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 3.times do |i|
              .checkbox
        .slots.resource.half
      .scratch.concentration.block
        .title.b Concentration
        %div
      -#mage-hand-legerdemain
      .feature.block
        .head.b Mage Hand Legerdemain
        %p.small
          When you cast
          %span.spell mage hand,
          the hand is invisible, and you can perform additional tasks with it:
          %ul.small
            %li Stow one object in a container worn or carried by another creature.
            %li Retrieve an object in a container worn or carried by another creature.
            %li Use thieves' tools to pick locks and disarm traps at range.

  .spell-list.flex.block
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Control Flames
        .level cantrip
        .keywords.b 
      .spell
        .title Green-Flame Blade
        .level cantrip
        .keywords.b
      .spell
        .title Mage Hand
        .level cantrip
        .keywords.b 
      .spell
        .title Message
        .level cantrip
        .keywords.b 
      .spell
        .title Prestidigitation
        .level cantrip
        .keywords.b 
      .spell
        .title Disguise Self
        .level 1<sup>st</sup>
        .keywords.b
      .spell
        .title Fog Cloud
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .title Sleep
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .title Tasha's Hideous Laughter
        .level 1<sup>st</sup>
        .keywords.b conc.
    .other-spells.column
      .head.b Reactions
      .spell
        .title Shield*
        .level 1<sup>st</sup>
        .keywords.b
      %p.small
        * Can only cast shield once per day, and it doesn't use a spell slot (this spell is from your Magic Initiate feat).

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Rapier
    .item Thieves' tools
    .item Rations (2)
    .item Waterskin
    .item Leather armor
    .item Common clothes
    .item Backpack
    .item 50 ft. hemp rope
    .item Arcane focus (orb)
    .item Torch
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp
      .value.sp
      .value.cp


