- name = "Yingzi"
- levels = { warlock: 5 }
- hd = { warlock: 'd8' }
- ability_scores = {str: 10, dex: 14, con: 14, int: 8, wis: 12, cha: 18}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:warlock] - 1) * 5 + mods[:con] * levels[:warlock]
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Wis, Cha
      .skill Acrobatics, Investigation, Deception, Perception, Performance
      .tool Disguise Kit, Musical Instrument
      .language Common, Undercommon
      .weapon simple, martial
      .armor light, medium, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half.block
        .head.b Standard Equipment
        .small Wand, scale mail, shield
        .ac
          .head.b AC
          .value=14 + 2 + [mods[:dex], 2].min
        .move
          .head.b Move
          .value 30
        .head.b Eldritch Blast
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:cha] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d10 + #{mods[:cha]}
            %span.small force
        .attack.range
          .b.bg Range
          .value 240
      -#equip
      .equipment-set.half.block
        .head.b Alternate Equipment
        .small Whip, scale mail, shield
        .ac
          .head.b AC
          .value=14 + 2 + [mods[:dex], 2].min
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:cha] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d4 + #{mods[:cha]}
            %span.small slashing
        .attack.range
          .b.bg Range
          .value 10
      .half
        -#spell-sniper
        .feature.block
          .head.b Spell Sniper
          %ul.small{style: 'margin-top: 0;'}
            %li When you cast a spell that requires an attack roll, its range is doubled.
            %li Your ranged spell attacks ignore &#xbd; cover and &#xbe; cover.
        -#agonizing-blast
        .feature.block
          .head.b Agonizing Blast
          %p.small
            Add your Charisma modifier to your
            %span.spell eldritch blast
            damage.

      .half
        -#hex-warrior
        .feature.block
          .head.b Hex Warrior
          %p.small
            After a long rest, you can choose any one-handed weapon you can touch. Until your next long rest, you can use your Charisma modifier for attack and damage rolls with that weapon.

      -#maddening-hex
      .feature.block
        .head
          %span.b Maddening Hex
        %p.small
          %span.b Bonus Action.
          Choose a creature you can see within 30 feet of you who is cursed by the
          %span.spell hex
          spell or your Hexblade's Curse. The target and each creature of of your choice that you can see within 5 feet of it takes 
          %span.b #{[mods[:cha], 1].max} psychic
          damage.

      -#hexblades-curse
      .feature.block
        .head
          %span.b Hexblade's Curse
          .uses.short-rest
            - 1.times do |i|
              .checkbox
        %p.small
          %span.b Bonus Action.
          Choose a creature you can see within 30 ft. The target is cursed for 1 minute, or until they die or you become incapacitated. While the target is cursed:
        %ul.small
          %li You add your proficiency bonus to damage rolls against the target.
          %li You can score critical hits against the target on a 19 or 20.
          %li When the cursed target dies, you regain #{levels[:warlock] + mods[:cha]} hit points.

    .flex.tall.column.narrow
      -#paladin-spellcasting
      .spellcasting.block
        .head.b Pact Magic
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.half{style: 'text-align:right'}
          %span.small short rest recovery
        .slots.resource.half
          .label
            3
            %sup> rd
          .uses
            - 2.times do |i|
              .checkbox

      .scratch.concentration.block
        .title.b Concentration
        %div
      -#pact-of-the-tome
      .feature.block
        .head.b Pact of the Tome
        %p.small
          Your book of shadows contains the
          %span.spell guidance
          %span.spell mending
          and
          %span.spell message
          cantrips. You can cast them as long as you have the book on you.
      -#book-of-ancient-secrets
      .feature.block
        .head.b Book of Ancient Secrets
        %p.small
          Your book of shadows contains the
          %span.spell find familiar
          and
          %span.spell speak with animals
          rituals. You can cast these spells, and any other spells you know with the
          %span.b ritual
          tag, as rituals (without expending a spell slot).
        %p.small
          You can add other ritual spells of level #{levels[:warlock] / 2} or lower to the book for a cost of 50 gp and 2 hours per spell level, if you find them during your travels.

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Whip
    .item Wand
    .item Shield
    .item Backpack
    .item Scale mail
    .item Common clothes
    .item Waterskin
    .item 50 ft. hemp rope
    .item.magic Book of shadows
    .item Rations (2)
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp=84+56+25+248
      .value.sp=5+3
      .value.cp=5+3

  .spell-list.flex.block
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Guidance
        .level cantrip
        .keywords.b conc.
      .spell
        .title Eldritch Blast
        .level cantrip
        .keywords.b 
      .spell
        .title Message
        .level cantrip
        .keywords.b 
      .spell
        .title Minor Illusion
        .level cantrip
        .keywords.b 
      .spell
        .title Prestidigitation
        .level cantrip
        .keywords.b 
      .spell
        .title Ray of Frost
        .level cantrip
        .keywords.b 
      .spell
        .title Hold Person
        .level 2<sup>nd</sup>
        .keywords.b conc.
      .spell
        .title Shatter
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .title Hunger of Hadar
        .level 3<sup>rd</sup>
        .keywords.b conc.
      .spell
        .title Hypnotic Pattern
        .level 3<sup>rd</sup>
        .keywords.b conc.
    .other-spells.column
      .head.b Bonus Actions
      .spell
        .title Hex
        .level 1<sup>st</sup>
        .keywords.b conc.
      .head.b Reactions
      .spell
        .title Shield
        .level 1<sup>st</sup>
        .keywords.b 
      .head.b Non-Combat Spells
      .spell
        .title Mending
        .level cantrip
        .keywords.b 
      .spell
        .title Find Familiar
        .level 1<sup>st</sup>
        .keywords.b ritual
      .spell
        .title Speak with Animals
        .level 1<sup>st</sup>
        .keywords.b ritual


  .flex.block
    .companion.half.flex.tall
      .head.b Owl Familiar
      .combat-stats
        .ac 11
        .hp 1
        .move 5 ft., fly 60 ft.
      .ability-scores.flex
        .str -4
        .dex +1
        .con -1
        .int -4
        .wis -1
        .cha -2
      .other-stats
        .skills Perception +3, Stealth +3
        .senses darkvision 120 ft.
      .features
        .flyby
          %span.b Flyby.
          The owl doesn't provoke opportunity attacks when it flies out of an enemy's reach.
        .keen-hearing-and-sight
          %span.b Keen Hearing and Sight.
          The owl has advantage on Wisdom (Perception) checks that rely on hearing or sight.
