- name = "Caladorn Manthar"
- levels = { rogue: 3 }
- hd = { rogue: 'd8' }
- ability_scores = {str: 10, dex: 16, con: 13, int: 10, wis: 12, cha: 14}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:rogue] - 1) * 5 + mods[:con] * levels[:rogue]
- xp = 675 + 290
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level.find{|t| t > xp}} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Dex, Int
      .skill Athletics, Deception, History, Perception, Persuasion, Sleight of Hand, Stealth
      .tool Gaming set (cards), Thieves' tools
      .language Common, Elvish, Undercommon, Illuskan, Thieves' Cant
      .weapon simple weapons, hand crossbow, longsword, rapier, shortsword
      .armor light
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.half.block
          .head.b Standard Equipment
          .small Rapier, dagger, studded leather
          .ac
            .head.b AC
            .value=12 + mods[:dex] + 1
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 5
          .head.b Bonus Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d4
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 5
          %ul.small
            %li Can throw dagger, range 20/60

        -#expertise
        .feature.block
          .head.b Expertise
          %p.small
            Double proficiency bonus on
            %span.b Athletics
            and
            %span.b Perception
            checks.
 
      .half
        -#equip
        .equipment-set.half.block
          .head.b Ranged Equipment
          .small Shortbow, studded leather
          .ac
            .head.b AC
            .value=12 + mods[:dex]
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 80 / 320
          %ul.small
            %li Disadvantage if enemy within 5 ft.
        -#cunning-action
        .feature.block
          .head.b Cunning Action
          %p.small
            You can Dash, Disengage, or Hide as a bonus action.
        -#fancy-footwork
        .feature.block
          .head.b Fancy Footwork
          %p.small
            If you make a melee weapon attack during your turn, the target can't make opportunity attacks against you for the rest of your turn.



    .flex.tall.column.narrow
      -#sneak-attack
      .feature.block
        .head.b Sneak Attack +#{(levels.values.sum - 1)/2 + 1}d6
        %p.small
          Once per turn, deal bonus damage on an attack with a finesse or ranged weapon. Requires advantage, or another enemy of the target within 5 ft. of it and no disadvantage.
      -#rackish-audacity
      .feature.block
        .head.b Rackish Audacity
        %p.small
          Add your Cha modifier to initiative rolls.
        %p.small
          If you are within 5 ft. of a creature and no other creatures are within 5 ft. of you, you can use your Sneak Attack against that creature as long as you don't have disadvantage on the attack.
      -#dual wield
      .feature.block
        .head.b Dual Wielder
        %ul.small
          %li +1 AC when dual wielding.
          %li Can dual wield non-light weapons.
          %li Can draw or stow two weapons at a time.

  .inventory.grid.block
    .head.b Inventory
    .item Fine clothes
    .item Hooded lantern
    .item 1,000 ball bearings
    .item Rapier
    .item Signet ring
    .item Flask of oil (2)
    .item Bell
    .item Dagger (2)
    .item Scroll of pedigree
    .item Candle (5)
    .item 10 ft. string
    .item Studded leather armor
    .item
    .item
    .item Skin of fine wine
    .item Tinderbox
    .item Hammer
    .item Shortbow
    .item.magic Paper bird
    .item
    .item Backpack
    .item 50 ft. hemp rope
    .item Pitons (10)
    .item Arrows (20)
    .item Broken white staff??
    .item
    .item Rations (5 days)
    .item Waterskin
    .item Crowbar
    .item Ghost-talking flour (3 lbs.)
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 516
      .value.sp 6
      .value.cp 8
