- name = "白浅/ Baiqian"
- levels = { cleric: 3 }
- hd = { cleric: 'd8' }
- ability_scores = {str: 13, dex: 8, con: 14, int: 10, wis: 16, cha: 14}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:cleric] - 1) * 5 + mods[:con] * levels[:cleric]
- xp = 328 + 410 + 625 + 550
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Protector Aasimar
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level.find{|t| t > xp}} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Wis, Cha
      .skill Insight, Medicine, Perception, Religion
      .tool Musical instrument (古箏)
      .language Common, Celestial, 雅音
      .weapon simple
      .armor all armor, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf 
    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Melee Equipment
          .small Mace, shield, chain mail
          .ac
            .head.b AC
            .value 18
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:str]}
              %span.small bludgeoning
          .attack.range
            .b.bg Range
            .value 5
          %ul.small
            %li Disadvantage on Dexterity (Stealth)

        -#celestial-radiance
        .feature.block
          .head.b Celestial Radiance
          %p.small
            You have resistance to radiant and necrotic damage.

      .half
        -#equip
        .equipment-set.block
          .head.b Spellcasting
          .small Shield, chain mail
          .ac
            .head.b AC
            .value 18
          .move
            .head.b Move
            .value 30
          .head.b Sacred Flame Cantrip
          .attack.roll
            .b.bg Roll
            .value Dex save
          .attack.damage
            .b.bg Damage
            .value
              1d8
              %span.small radiant
          .attack.range
            .b.bg Range
            .value 60
          %ul.small
            %li Disadvantage on Dexterity (Stealth)

        -#darkvision
        .feature.block
          .head.b Darkvision
          %p.small
            You can see in dim light as though it were normal light, and darkness as though it were dim light, up to 60 ft. away.


      -#healing-hands
      .feature.block
        .head
          %span.b Healing Hands
          .uses.long-rest
            .checkbox
        %p.small
          %span.b Action.
          Touch a creature to heal it for
          %span.b #{levels.values.sum + 2} hp.
          Includes +2 bonus from
          %span.magic ancestor amulet.

      -#channel-divinity
      .feature
        .head
          %span.b Channel Divinity
          .uses.short-rest
            - 1.times do |i|
              .checkbox
        .block.small
          %span.title
            Turn Undead
          &#x2726;
          %span.b Action
          %p
            Requires holy symbol and verbal prayer. Each visible undead  in 30 ft. is turned for 1 minute or until it takes damage (Wis save negates).
          %p
            A turned creature can’t take reactions and can only Dash or try to escape from an effect that prevents it from moving. It must try to move as far away as possible and can’t willingly move within 30 ft. If it has nowhere to go, it may Dodge.
        .block.small
          %span.title
            Preserve Life
          &#x2726;
          %span.b Action
          %p
            Present your holy symbol and restore #{levels[:cleric] * 5} hit points. Choose any creatures within 30 feet and divide those hit points among them. You can restore no more than half of a creature's maximum hit points this way.


    .flex.tall.column.narrow
      -#cleric-spellcasting
      .spellcasting.block
        .head.b Cleric Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Wis
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:wis] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:wis]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 4.times do |i|
              .checkbox
        .slots.resource.half
          .label
            2
            %sup> nd
          .uses
            - 2.times do |i|
              .checkbox
      .scratch.block
        .title.b Concentration
        %div
      .feature.block
        .head.b Preparation
        %p.small
          You always have
          %span.spell bless
          and
          %span.spell cure wounds
          prepared. After a long rest, you can prepare any #{levels[:cleric] + mods[:wis]} spells from the cleric spell list.
      .feature.block
        .head.b Ritual Casting
        %p.small
          You can cast a prepared cleric spell with the ritual tag as a ritual.
      -#disciple-of-life
      .feature.block
        .head.b Disciple of Life
        %p.small
          Whenever you heal a creature with a spell, that creature regains additional hit points equal to 2 + the spell's level.

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Chain mail
    .item Holy Amulet
    .item Hemp Rope (50 ft.)
    .item Crossbow bolts (20)
    .item Mace
    .item Tinderbox
    .item Torch (10)
    .item Light crossbow
    .item Shield
    .item Bedroll
    .item Mess kit
    .item.magic Ancestor amulet
    .item.magic Feather token
    .item.magic Potion of healing
    .item Backpack
    .item Waterskin
    .item Rations (10)
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 254
      .value.sp 210
      .value.cp 413


  .spell-list.flex
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .prepared
          .checkbox.checked
        .title Guidance
        .level cantrip
        .keywords.b conc.
      .spell
        .prepared
          .checkbox.checked
        .title Light
        .level cantrip
        .keywords.b conc.
      .spell
        .prepared
          .checkbox.checked
        .title Sacred Flame
        .level cantrip
        .keywords.b 
      .spell
        .prepared
          .checkbox.checked
        .title Thaumaturgy
        .level cantrip
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Bane
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox.checked
        .title Bless
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Command
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Create or Destroy Water
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox.checked
        .title Cure Wounds
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Detect Evil and Good
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Detect Magic
        .level 1<sup>st</sup>
        .keywords.b conc., ritual
      .spell
        .prepared
          .checkbox
        .title Detect Poison and Disease
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Guiding Bolt
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Inflict Wounds
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Protection from Evil and Good
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Purify Food and Drink
        .level 1<sup>st</sup>
        .keywords.b ritual
      .spell
        .prepared
          .checkbox
        .title Aid
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Blindness/Deafness
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Calm Emotions
        .level 2<sup>nd</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Continual Flame
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Enhance Ability
        .level 2<sup>nd</sup>
        .keywords.b conc.

    .column{style: 'margin-top: 1.5rem;'}
      .spell
        .prepared
          .checkbox
        .title Find Traps
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Gentle Repose
        .level 2<sup>nd</sup>
        .keywords.b ritual
      .spell
        .prepared
          .checkbox
        .title Hold Person
        .level 2<sup>nd</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox.checked
        .title Lesser Restoration
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Locate Object
        .level 2<sup>nd</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox
        .title Protection from Poison
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Silence
        .level 2<sup>nd</sup>
        .keywords.b conc., ritual
      .spell
        .prepared
          .checkbox
        .title Warding Bond
        .level 2<sup>nd</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Zone of Truth
        .level 2<sup>nd</sup>
        .keywords.b 

      .head.b Bonus Actions
      .spell
        .prepared
          .checkbox
        .title Healing Word
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Sanctuary
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .prepared
          .checkbox
        .title Shield of Faith
        .level 1<sup>st</sup>
        .keywords.b conc.
      .spell
        .prepared
          .checkbox.checked
        .title Spiritual Weapon
        .level 2<sup>nd</sup>
        .keywords.b 

      .head.b Non-Combat Spells
      .spell
        .prepared
          .checkbox
        .title Ceremony
        .level 1<sup>st</sup>
        .keywords.b ritual
      .spell
        .prepared
          .checkbox
        .title Augury
        .level 2<sup>nd</sup>
        .keywords.b ritual
      .spell
        .prepared
          .checkbox
        .title Prayer of Healing
        .level 2<sup>nd</sup>
        .keywords.b 

  .flex.role-playing
    .column.wide
      .feature.block
        .head.b Background: Far Traveler
        %p.small
          You are from the distant land of 中原. Your homeland is so remote that most residents of Skarvost have never heard of it, and those that have know merely the name and perhaps a few outrageous stories. You have come to the northwest marches area for your own reasons, which you might or might not choose to share.
        %p.small
          In 中原, you were a child of a noble family, and were marked as special from birth by your angelic heritage. Raised to be a leader, you have temporarily deferred the expectations of your family to come to Skarvost as an adventurer. But you know that one day, you will return to fulfill your destiny.
      .feature.block
        .head.b Personality Trait
        %p.small
          I begin or end my day with small traditional rituals that are unfamiliar to those around me.
    .column.narrow
      .feature.block
        .head.b Ideal: Open
        %p.small
          I have much to learn from the kindly folk I meet along my way.
      .feature.block
        .head.b Bond
        %p.small
          Although I value freedom, I know that one day I must return to my family and play the role that is expected of me.
      .feature.block
        .head.b Flaw
        %p.small
          I pretend not to understand the local language in order to avoid interactions I would rather not have.

