- name = "Kelor Brightaxe"
- levels = { ranger: 3 }
- hd = { ranger: 'd10' }
- ability_scores = {str: 16, dex: 14, con: 16, int: 9, wis: 13, cha: 8}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 10 + (levels[:ranger] - 1) * 6 + mods[:con] * levels[:ranger]
- xp = 420 + 450 + 550
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Mountain Dwarf
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level.find{|t| t > xp}} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Str, Dex
      .skill Animal Handling, Athletics, Perception, Stealth, Survival
      .tool Cartographer's tools, mason's tools, vehicles (land)
      .language Common, Dwarvish
      .weapon simple, martial
      .armor light, medium, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half.block
        .head.b Standard Equipment
        .small
          Dual handaxes, scale mail
        .ac
          .head.b AC
          .value 16
        .move
          .head.b Move
          .value 25
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:str] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d6 + #{mods[:str]}
            %span.small slashing
        .attack.range
          .b.bg Range
          .value 5
        .head.b Bonus Action (Offhand)
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:str] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d6 + #{mods[:str]}
            %span.small slashing
        .attack.range
          .b.bg Range
          .value 5
        %ul
          %li Can throw axes, range 20/60
      -#equip
      .half
        .equipment-set.block
          .head.b Alternate Equipment
          .small Handaxe, scale mail, shield
          .ac
            .head.b AC
            .value 18
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:str]}
              %span.small slashing
          .attack.range
            .b.bg Range
            .value 5
          %ul
            %li Can throw axes, range 20/60
        -#fighting-style
        .feature.block
          .head.b Fighting Style: Two-Weapon
          %p.small
            Add ability score modifier to off-hand weapon damage.

      -#slayers-pray
      .feature.block
        .head.b Slayer's Prey
        %p.small
          %span.b Bonus Action.
          Choose a creature you can see within 60 feet. The first time each turn that you hit that it with a weapon attack, it takes an extra 1d6 damage. The effect ends if you finish a rest or use this feature again.
      -#hunters-sense
      .feature.block
        .head
          %span.b Hunter's Sense
          .uses.long-rest
            - mods[:wis].times do |i|
              .checkbox
        %p.small
          %span.b Action.
          Choose one creature you can see with 60 feet. You learn any damage immunities, resistances, or vulnerabilities it has, unless it is hidden from divination magic.

      -#favored-terrain
      .feature.block
        .head.b Favored Terrain: Mountains
        %p.small
          While traveling in your favored terrain, you gain the following benefits:
        %ul.small
          %li Difficult terrain doesn't slow your group's travel.
          %li Your group can't become lost except by magical means.
          %li You remain alert to danger even while engaged in another activity.
          %li If you are traveling alone, you can move stealthily at a normal pace.
          %li When you forage, you find twice as much food as normal.
          %li While tracking creatures, you learn the number, sizes, and how long ago they passed.

    .flex.tall.column.narrow
      -#ranger-spellcasting
      .spellcasting.block
        .head.b Ranger Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Wis
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:wis] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:wis]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 3.times do |i|
              .checkbox
        .slots.resource.half
      .scratch.concentration.block
        .title.b Concentration
        %div
      -#dwarven resilience
      .feature.block
        .head.b Dwarven Resilience
        %p.small
          You have resistance to poison damage, and advantage on saving throws against poison.
      -#darkvision
      .feature.block
        .head.b Darkvision
        %p.small
          You can see in dim light as though it were normal light, and darkness as though it were dim light, up to 60 ft. away.
      -#stonecunning
      .feature.block
        .head.b Stonecunning
        %p.small
          Add double your proficiency bonus to Intelligence (History) checks related to the origin of stonework.

      -#primeval-awareness
      .feature.block
        .head.b Primeval Awareness
        %p.small
          %span.b Action.
          Expend one ranger spell slot. For 1 minute per level of the expended slot, you can sense if any aberrations, celestials, dragons, elementals, fey, or undead are within 1 mile (6 miles in your favored terrain). You don't learn their location or number.

  .new-page

  .flex.btf
    .flex.column.wide
      -#favored-enemy
      .feature.block
        .head.b Favored Enemy: Aberrations
        %p.small
          Advantage on Wisdom (Survival) checks to track your favored enemies and Intelligence checks to recall information about them.


  .inventory.grid.block
    .head.b Inventory
    .item Handaxe (4)
    .item Backpack
    .item 50 ft. hemp rope
    .item Traveler's clothes
    .item Scale mail
    .item Bedroll
    .item Cartographer's tools
    .item Mason's tools
    .item Shield
    .item Tinderbox
    .item Climber's kit
    .item Mess kit
    .item.magic Potion of frost giant strength
    .item Arrow (20)
    .item Waterskin
    .item Rations (10)
    .item Fishing tackle
    .item Whetstone
    .item Healer's kit (10)
    .item Quiver
    .item Longbow
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 90
      .value.sp 9
      .value.cp 8

  .spell-list.flex.block
    .column
      .head.b Spell Actions
      .spell
        .title Goodberry
        .level 1<sup>st</sup>
        .keywords.b
      .spell
        .title Protection from Evil and Good
        .level 1<sup>st</sup>
        .keywords.b conc.
    .other-spells.column
      .head.b Bonus Actions
      .spell
        .title Hunter's Mark
        .level 1<sup>st</sup>
        .keywords.b conc.
      .head.b Reactions
      .spell
        .title Absorb Elements
        .level 1<sup>st</sup>
        .keywords.b

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Folk Hero
        %p.small
          You come from a humble social rank, but you are destined for so much more. Already the people of your home village regard you as their champion, and your destiny calls you to stand against the tyrants and monsters that threaten the common folk everywhere.
        %p.small
          %span.b Defining Event.
          I stood alone against a terrible monster.
    .column.narrow.personality
      .feature.block
        .head.b Personality Trait
        %p.small
          Thinking is for other people. I prefer action.
      .feature.block
        .head.b Ideal: Sincerity
        %p.small
          There's no good in pretending to be something I'm not.
      .feature.block
        .head.b Bond
        %p.small
          I protect those who cannot protect themselves.
      .feature.block
        .head.b Flaw
        %p.small
          I have trouble trusting in my allies.
