- name = "Lokhan"
- levels = { fighter: 1 }
- hd = { fighter: 'd10' }
- ability_scores = {str: 16, dex: 14, con: 16, int: 8, wis: 12, cha: 8}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 10 + (levels[:fighter] - 1) * 7 + mods[:con] * levels[:fighter]
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Half-orc
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (0 / 300 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Str, Con
      .skill Athletics, Insight, Intimidation, Perception, Stealth
      .tool Thieves' tools, gaming set (chess)
      .language Common, Orc
      .weapon simple, martial
      .armor all armor, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Standard Equipment
          .small
            Glaive, scale mail
          .ac
            .head.b AC
            .value=14 + 1 + [mods[:dex], 2].min
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:str] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d10 + #{mods[:str]}
              %span.small slashing
          .attack.range
            .b.bg Reach
            .value 10
          %ul.small
            %li Disadvantage on Dexterity (Stealth) checks
      -#equip
      .half
        .equipment-set.block
          .head.b Ranged Equipment
          .small Longbow, scale mail
          .ac
            .head.b AC
            .value=14 + 1 + [mods[:dex], 2].min
          .move
            .head.b Move
            .value 30
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 150 / 600
          %ul.small
            %li Disadvantage on Dexterity (Stealth) checks
 
      -#relentless-endurance
      .feature.block
        .head
          %span.b Relentless Endurance
          .uses.long-rest
            .checkbox
        %p.small
          When you are reduced to 0 hp but not killed, drop to 1 hit point instead.

    .flex.tall.column.narrow
      -#second-wind
      .feature.block
        .head
          %span.b{style: 'margin-left:-4rem;'} Second Wind
          .uses.short-rest
            .checkbox
        %p.small
          %span.b Bonus Action.
          Regain 1d10 + #{levels[:fighter]} hit points.
      -#savage-attacks
      .feature.block
        .head.b Savage Attacks
        %p.small Add +1 weapon damage die on critical hits with melee weapons.
      -#darkvision
      .feature.block
        .head.b Darkvision
        %p.small
          You can see in dim light as though it were normal light, and darkness as though it were dim light, up to 60 ft. away.
      -#fighting-style
      .feature.block
        .head.b Fighting Style: Defense
        %p.small
          +1 to AC when wearing armor.

  .inventory.grid.block
    .head.b Inventory
    .item Glaive
    .item Backpack
    .item 50 ft. hemp rope
    .item Traveler's clothes
    .item Scale mail
    .item Bedroll
    .item Waterskin
    .item Rations (10)
    .item Longbow
    .item Arrow (20)
    .item Quiver
    .item Thieves' tools
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 10
      .value.sp
      .value.cp

  .new-page

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Urban Bounty Hunter
        %p.small
          Before you became an adventurer, you made a living tracking down people for pay. Unlike some bounty hunters, you don't typically follow your quarry into or through the wilderness.
    .column.narrow.personality
      .feature.block
        .head.b Personality Trait
        %p.small
          I am always calm, no matter what the situation. I never raise my voice or let my emotions control me.
      .feature.block
        .head.b Ideal: Redemption
        %p.small
          There's a spark of good in everyone.
      .feature.block
        .head.b Bond
        %p.small
          I'm guilty of a terrible crime. I hope I can redeem myself for it.
      .feature.block
        .head.b Flaw
        %p.small
          When faced with a choice between money and friends, I usually choose the money.
