- name = "Rehuo"
- levels = { sorcerer: 2 }
- hd = { sorcerer: 'd6' }
- ability_scores = {str: 8, dex: 14, con: 14, int: 12, wis: 10, cha: 16}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 7 + (levels[:sorcerer] - 1) * 5 + mods[:con] * levels[:sorcerer]
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (300 / 900 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Con, Cha
      .skill Arcana, Insight, Intimidation, Investigation, Persuasion
      .tool none
      .language Common, Abyssal, Celestial, Draconic, Primordial
      .weapon dagger, dart, sling, quarterstaff, light crossbow
      .armor none
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half.block
        .head.b Standard Equipment
        .small Dagger
        .ac
          .head.b AC
          .value 15
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d4 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 5
      -#equip
      .equipment-set.half.block
        .head.b Spellcasting Equipment
        .small Staff
        .ac
          .head.b AC
          .value 15
        .move
          .head.b Move
          .value 30
        .head.b Firebolt Ranged Spell Attack
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:cha] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d10
            %span.small fire
        .attack.range
          .b.bg Range
          .value 240

      -#draconic-ancestry
      .half
        .feature.block
          .head.b Draconic Ancestry
          %p.small
            You have a red dragon ancestor. Whenever you make a Charisma check when interacting with dragons, double your proficieny bonus if it applies.
      .half
        .feature.block
          .head.b Draconic Resilience
          %p.small
            When not wearing armor, your AC is 13 + Dex. You gain +1 maximum hp per sorcerer level.
      -#elemental-adept
      .feature.block
        .head.b Elemental Adept
        %p.small
          Spells you cast ignore
          %span.b fire
          resistance. When you roll damage for a spell that deals
          %span.b fire
          damage, you can treat any 1 on a damage die as a 2.

    .flex.tall.column.narrow
      -#paladin-spellcasting
      .spellcasting.block{style: "margin-top: -3rem;"}
        .head.b Sorcerer Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 3.times do |i|
              .checkbox
      .scratch.concentration.block
        .title.b Concentration
        %div
      -#font-of-magic
      .feature.block
        .head.b Font of Magic
        .points
          .scratch
            .title
              Max. Sorcery Points:
              %span.b=[levels[:sorcerer], 15].min
            %div
          %p.small
            You have a pool of sorcery points, which allow you to create a variety of magical effects. You regain all sorcery points after a long rest. You can never have more sorcery points than the maximum shown.
      -#flexible casting
      .feature.block
        .head.b Flexible Casting
        %p.small
          %span.b Bonus Action.
          You can expend a spell slot to gain a number of sorcery points
          %span.b equal to the slot's level.
        %p.small
          Or, you can transform unexpended sorcery points into a spell slot, according to the table below.
        .table.small{style: "width: 80%; margin: 0.5rem auto 0 auto;"}
          .row
            .c.b Spell Slot Level
            .c.b Sorcery Point Cost
          .row
            .c 1<sup>st</sup>
            .c 2
          .row
            .c 2<sup>nd</sup>
            .c 3
          .row
            .c 3<sup>rd</sup>
            .c 5
          .row
            .c 4<sup>th</sup>
            .c 6
          .row
            .c 5<sup>th</sup>
            .c 7

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Dagger (2)
    .item Backpack
    .item Sack
    .item Ink (1 oz.)
    .item Arcane focus (staff)
    .item Bedroll
    .item Waterskin
    .item Ink pen
    .item Fine clothes
    .item Rations (10)
    .item 50 ft. hemp rope
    .item Parchment (10 sheets)
    .item Chalk
    .item Pouch
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 10
      .value.sp
      .value.cp

  .spell-list.flex.block
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Control Flames
        .level cantrip
        .keywords.b
      .spell
        .title Fire Bolt
        .level cantrip
        .keywords.b
      .spell
        .title Light
        .level cantrip
        .keywords.b
      .spell
        .title Prestidigitation
        .level cantrip
        .keywords.b
      .spell
        .title Chromatic Orb
        .level 1<sup>st</sup>
        .keywords.b
      .spell
        .title Tasha's Hideous Laughter
        .level 1<sup>st</sup>
        .keywords.b conc.

    .other-spells.column
      .head.b Reactions
      .spell
        .title Shield
        .level 1<sup>st</sup>
        .keywords.b

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Courtier
        %p.small
          In your earlier days, you were a high-ranking official in the government bureaucracy of the city-state in which you grew up. After your draconic heritage manifested itself, you left that life behind to develop your new found sorcerous power. You still have carefully cultivated relationships with the movers and shakers back home, and the skills you honed as a courtier will serve you in good stead as an adventurer.
    .column.narrow.personality
      .feature.block
        .head.b Personality Trait
        %p.small
          I believe that anything worth doing is worth doing right. I can't help it&mdash;I'm a perfectionist.
      .feature.block
        .head.b Ideal: Community
        %p.small
          It is the duty of all civilized people to strengthen the bonds of community and the security of civilization.
      .feature.block
        .head.b Bond
        %p.small
          One day I will return to my home and assume a position of political power.
      .feature.block
        .head.b Flaw
        %p.small
          I'm never satisfied with what I have&mdash;I always want more.
