- name = "Qin"
- levels = { warlock: 1 }
- hd = { warlock: 'd8' }
- ability_scores = {str: 8, dex: 14, con: 14, int: 12, wis: 10, cha: 16}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:warlock] - 1) * 5 + mods[:con] * levels[:warlock]
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Human
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (0 / 300 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Wis, Cha
      .skill Arcana, Deception, History, Investigation, Medicine
      .tool none
      .language Common, Deep Speech, Draconic, Undercommon
      .weapon simple
      .armor light
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half.block
        .head.b Spellcasting Equipment
        .small Wand, studded leather armor
        .ac
          .head.b AC
          .value=12 + mods[:dex]
        .move
          .head.b Move
          .value 30
        .head.b Eldritch Blast
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:cha] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d10
            %span.small force
        .attack.range
          .b.bg Range
          .value 240
      -#equip
      .equipment-set.half.block
        .head.b Alternate Equipment
        .small Dagger, studded leather armor
        .ac
          .head.b AC
          .value=12 + mods[:dex]
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d4 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 5
      .half
        -#spell-sniper
        .feature.block
          .head.b Spell Sniper
          %ul.small
            %li When you cast a spell that requires an attack roll, its range is doubled.
            %li Your ranged spell attacks ignore &#xbd; cover and &#xbe; cover.
      .half
        -#awakened-mind
        .feature.block
          .head.b Awakened Mind
          %p.small
            You can communicate telepathically with any creature you can see within 30 feet. You don't need to share a langauge with the creature, but it must be able to understand at least one language.

    .flex.tall.column.narrow
      -#paladin-spellcasting
      .spellcasting.block
        .head.b Pact Magic
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.half{style: 'text-align:right'}
          %span.small short rest recovery
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 1.times do |i|
              .checkbox

      .scratch.concentration.block
        .title.b Concentration
        %div


  .inventory.grid.block
    .head.b Inventory
    .item Wand
    .item Dagger
    .item Torch (10)
    .item Backpack
    .item Studded leather armor
    .item Waterskin
    .item Rations (10)
    .item Tinderbox
    .item Ink (1 oz. vial)
    .item Ink pen
    .item Parchment (10 sheets)
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 10
      .value.sp
      .value.cp

  .new-page

  .spell-list.flex.block
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Eldritch Blast
        .level cantrip
        .keywords.b
      .spell
        .title Minor Illusion
        .level cantrip
        .keywords.b 
      .spell
        .title Prestidigitation
        .level cantrip
        .keywords.b
      .spell
        .title Dissonant Whispers
        .level 1<sup>st</sup>
        .keywords.b

    .other-spells.column
      .head.b Bonus Actions
      .spell
        .title Hex
        .level 1<sup>st</sup>
        .keywords.b conc.

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Sage
        %p.small
          You spent years learning the lore of the multiverse. You scoured manuscripts, studied scrolls, and listened to the greatest experts on the subjects that interest you. Your efforts have made you a master in your fields of study.
        %p.small
          %span.b Specialty:
          Astronomer
      .feature.block
        .head.b Personality Trait
        %p.small
          I use polysyllabic words that convey the impression of great erudition.
    .column.narrow.personality
      .feature.block
        .head.b Ideal: No Limits
        %p.small
          Nothing should fetter the infinite possibility inherent in all existence.
      .feature.block
        .head.b Bond
        %p.small
          I've been searching my whole life for the answer to a certain question.
      .feature.block
        .head.b Flaw
        %p.small
          Unlocking an ancient mystery is worth the price of a civilization.
