- name = "Ril Anaximos"
- levels = { bard: 1 }
- hd = { bard: 'd8' }
- ability_scores = {str: 8, dex: 16, con: 12, int: 14, wis: 10, cha: 16}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 8 + (levels[:bard] - 1) * 6 + mods[:con] * levels[:bard]
- bardic_inspiration_die = 6 + 2 * ((levels[:bard] + 1) / 6)
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Half-Elf
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (0 / 300 xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Dex, Cha
      .skill Arcana, History, Insight, Investigation, Medicine, Performance, Persuasion
      .tool Musical instrument (dulcimer, drum, shawm)
      .language Common, Elvish, Sylvan, Undercommon, Deep Speech
      .weapon simple, hand crossbow, longsword, rapier, shortsword
      .armor light armor
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      -#equip
      .equipment-set.half.block
        .head.b Standard Equipment
        .small Rapier, leather armor
        .ac
          .head.b AC
          .value=11 + mods[:dex]
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d8 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 5
      -#equip
      .equipment-set.half.block
        .head.b Ranged Equipment
        .small Light crossbow, leather armor
        .ac
          .head.b AC
          .value=11 + mods[:dex]
        .move
          .head.b Move
          .value 30
        .head.b Attack Action
        .attack.roll
          .b.bg Roll
          .value d20 + #{mods[:dex] + prof}
        .attack.damage
          .b.bg Damage
          .value
            1d8 + #{mods[:dex]}
            %span.small piercing
        .attack.range
          .b.bg Range
          .value 80 / 320

      .half
        -#darkvision
        .feature.block
          .head.b Darkvision
          %p.small
            You can see in dim light as though it were normal light, and darkness as though it were dim light, up to 60 ft. away.

      .half
        -#fey-ancestry
        .feature.block
          .head.b Fey Ancestry
          %p.small
            You have advantage on saving throws against being charmed, and magic can't put you to sleep.

      -#bardic-inspiration
      .feature.block
        .head.b Bardic Inspiration (d#{bardic_inspiration_die})
        .small.block
          You have a pool of #{mods[:cha]}d#{bardic_inspiration_die} bardic inspiration dice, which regenerates after a #{levels[:bard] > 4 ? 'short or long' : 'long'} rest. You can expend these dice as follows:
        .small.block
          %span.title Bardic Inspiration
          &#x2726;
          %span.b Bonus Action
          %p
            A creature other than yourself within 60 feet of you who can hear you gains one of your bardice inspiration dice. A creature can only have one such die at a time. Once the die is rolled, it is lost.
          %p
            Once within the next 10 minutes, the creature can roll the die and add the number rolled to one ability check, saving throw, or attack roll it makes.

    .flex.tall.column.narrow
      -#bard-spellcasting
      .spellcasting.block
        .head.b Bard Spellcasting
        .stat.b
          Spellcasting Ability:
          .value Cha
        .stat.b
          Spell Attack Modifier:
          .value='%+d' % (mods[:cha] + prof)
        .stat.b
          Saving Throw DC:
          .value=8 + prof + mods[:cha]
      .flex.block
        .head.b Spell Slots
        .slots.resource.half
          .label
            1
            %sup> st
          .uses
            - 2.times do |i|
              .checkbox
        .slots.resource.half
      .scratch.concentration.block
        .title.b Concentration
        %div
      -#ritual-casting
      .feature.block
        .head.b Ritual Casting
        %p.small
          You can cast any bard spell you know as a ritual if it has the ritual tag.

  .new-page

  .inventory.grid.block
    .head.b Inventory
    .item Rapier
    .item Shawm
    .item Backpack
    .item Waterskin
    .item Light crossbow
    .item Common clothes
    .item Bedroll
    .item Rations (10)
    .item Leather armor
    .item Tinderbox
    .item Torches (10)
    .item 50 ft. hemp rope
    .item Crossbow bolt case
    .item Crossbow bolt (20)
    .item Ink (1 oz. vial)
    .item Ink pen
    .item Parchment (10 sheets)
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 10
      .value.sp
      .value.cp

  .spell-list.flex
    .spell-actions.column
      .head.b Spell Actions
      .spell
        .title Minor Illusion
        .level cantrip
        .keywords.b 
      .spell
        .title Vicious Mockery
        .level cantrip
        .keywords.b 
      .spell
        .title Dissonant Whispers
        .level 1<sup>st</sup>
        .keywords.b 
      .spell
        .title Heroism
        .level 1<sup>st</sup>
        .keywords.b conc.
    .other-spells.column
      .head.b Bonus Actions
      .spell
        .title Healing Word
        .level 1<sup>st</sup>
        .keywords.b 

  .flex.role-playing
    .column.wide.background
      .feature.block
        .head.b Background: Sage
        %p.small
          You spent years learning the lore of the multiverse. You scoured manuscripts, studied scrolls, and listened to the greatest experts on the subjects that interest you. Your efforts have made you a master in your fields of study.
        %p.small
          %span.b Specialty:
          Researcher
      .feature.block
        .head.b Personality Trait
        %p.small
          I've read every book in the world's greatest libraries&mdash;or I like to boast that I hhave.

    .column.narrow.personality
      .feature.block
        .head.b Ideal: Knowledge
        %p.small
          The path to power and self-improvement is through knowledge.
      .feature.block
        .head.b Bond
        %p.small
          My life's work is a series of tomes related to a specific field of lore.
      .feature.block
        .head.b Flaw
        %p.small
          Most people scream and run when they see a demon. I stop and take notes on its anatomy.

