- name = "Morthe"
- levels = { fighter: 1 }
- hd = { fighter: 'd10' }
- ability_scores = {str: 13, dex: 17, con: 16, int: 8, wis: 12, cha: 8}
- mods = Hash[ability_scores.map { |k, v| [k, (v - 10) / 2] }]
- prof = ((levels.values.sum - 1) / 4 + 2)
- hp = 10 * levels[:fighter] + mods[:con] * levels[:fighter]
- superiority_die = 8
- superiority_dice = 4 + (levels[:fighter] + 1) / 8
- xp = 0
- next_level = [0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, '&#x221e;']
!!!
%head
  %title #{name}
  %link{rel: 'stylesheet', type: 'text/css', href: '../charsheet.css'}
%body
  %h1 #{name}
  .info-bar
    %span.subrace Stout Halfling
    %span.class-level=levels.map { |k, v| "#{k.capitalize} #{v}"}.join('/')
    %span.xp (#{xp} / #{next_level[levels.values.sum]} xp)
  .flex.atf
    -#ability scores
    .ability-scores.flex.tall
      - ability_scores.each do |k, v|
        %div{class: k}
          .score=v
          .mod='%+d' % mods[k]
    -#proficiencies
    .proficiencies
      .head.b
        .bonus='%+d' % prof
      .save Str, Con
      .skill Athletics, Survival
      .tool Musical instrument (shawm)
      .language Common, Halfling, Elvish
      .weapon simple, martial
      .armor all armor, shields
    -#health
    .health
      .head
        Max HP:
        %span.b=hp
      .hit-dice.resource
        .head Hit Dice
        - levels.each do |k, v|
          %div{class: "uses #{hd[k]}"}
            - levels[k].times do |i|
              .checkbox
      .death-saves.resource
        .head Death Saves
        .success.uses
          - 3.times do |i|
            .checkbox
        .failure.uses
          - 3.times do |i|
            .checkbox
    -#hp
    .hp
      .scratch
        .title Current HP
        %div
      .scratch
        .title Temp HP
        %div

  .flex.btf

    .flex.column.wide
      .half
        -#equip
        .equipment-set.block
          .head.b Standard Equipment
          .small
            rapier, shield, studded leather
          .ac
            .head.b AC
            .value=12 + 2 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d8 + #{2 + mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Reach
            .value 5
      -#equip
      .half
        .equipment-set.block
          .head.b Ranged Equipment
          .small shortbow, studded leather
          .ac
            .head.b AC
            .value=12 + mods[:dex]
          .move
            .head.b Move
            .value 25
          .head.b Attack Action
          .attack.roll
            .b.bg Roll
            .value d20 + #{mods[:dex] + prof}
          .attack.damage
            .b.bg Damage
            .value
              1d6 + #{mods[:dex]}
              %span.small piercing
          .attack.range
            .b.bg Range
            .value 80 / 320

      .half
      -#second-wind
      .feature.block
        .head
          %span.b Second Wind
          .uses.short-rest
            .checkbox
        %p.small
          %span.b Bonus Action.
          Regain 1d10 + #{levels[:fighter]} hit points.

    .flex.tall.column.narrow
      -#lucky
      .feature.block
        .head.b Lucky
        %p.small Reroll 1s on attack rolls, ability checks, and saving throws.
      -#brave
      .feature.block
        .head.b Brave
        %p.small
          You have advantage on saving throws against being frightened.
      -#halfling-nimbleness
      .feature.block
        .head.b Halfling Nimbleness
        %p.small
          You can move through the space of creatures larger than you.
      -#stout-resilience
      .feature.block
        .head.b Stout Resilience
        %p.small
          Advantage on saving throws against poison, and resistance to poison damage.
      -#fighting-style
      .feature.block
        .head.b Fighting Style: Dueling
        %p.small
          While wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.


  .inventory.grid.block
    .head.b Inventory
    .item Rapier
    .item Shield
    .item Shortbow
    .item Arrow (20)
    .item Studdead leather
    .item Backpack
    .item Blanket
    .item Waterskin
    .item Common clothes
    .item Whetstone
    .item Tinderbox
    .item Torch (4)
    .item
    .item
    .item Shawm
    .item Basket
    .item Signal whistle
    .item Hemp rope (50 ft.)
    .item
    .item
    .item Healer's kit
    .item Shovel
    .item Fishing tackle
    .item Caltrops
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .money
      .label.b.bg pp
      .label.b.bg gp
      .label.b.bg sp
      .label.b.bg cp
      .value.pp
      .value.gp 13
      .value.sp 8
      .value.cp

  .new-page

  .flex.role-playing
    .column.half.personality
      .feature.block
        .head.b Personality Trait
        %p.small
          I'm driven by a wanderlust that led me away from home.
      .feature.block
        .head.b Personality Trait
        %p.small
          I once ran twenty-five miles without stopping to warn my clan of an approaching elven raiding party. I'd do it again if I had to.
      .feature.block
        .head.b Ideal: Greater Good
        %p.small
          It is each person's responsibility to make the most happiness for the whole tribe.
      .feature.block
        .head.b Bond
        %p.small
          My clan is the most important thing in my life, even when they are far from me.
      .feature.block
        .head.b Flaw
        %p.small
          I am too enamored of ale, wine, and other intoxicants.
    .column.half.background
      .feature.block
        .head.b Background: Outlander
        %p.small
          You grew up in the wilds of the Talenta Plains, part of a nomadic tribe of dinosaur riders. You've witnessed the migration of herds larger than forests, survived weather more extreme than any city-dweller could comprehend, and enjoyed the solitude of being the only thinking creature for miles in any direction. The wilds are in your blood. Even in places where you don't know the specific features of the terrain, you know the ways of the wild
      .feature.block
        .head.b Wanderer
        %p.small
          You have an excellent memory for maps and geography, and you can always recall the general layout of terrain, settlements, and other features around you. In addition, you can find food and fresh water for yourself and up to five other people each day, provided that the land offers berries, small game, water, and so forth.
